/* ===================home start================ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Georgia', serif;
}

body{
    background:#f4e6dc;
    color:#333;
}

/* ===== NAVBAR ===== */
header{
    padding:20px 8%;
    background:#f3e7dc;
    position: sticky;
    top: 0;
    z-index: 1000;
    background:white;
}

.outline-btn{
    padding:8px 18px;
    border-radius:20px;
    border:1px solid #8b5e3c;
    background:none;
    cursor:pointer;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
    height: 40px;
    object-fit: contain;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav ul li a{
    text-decoration:none;
    color:black;
}

.btn{
    background:#8b3e2f;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:25px;
    cursor:pointer;
}

/* ===== HERO ===== */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px 8%;
}

.hero p{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.6;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero-text p{
    margin-bottom:20px;
}

.hero-img img{
    width:300px;
    border-radius:20px;
}
.hero-imge img{
    margin: 30px;
    width:300px;
    border-radius:20px;
}

/* ===== CATEGORY SECTION ===== */
.categories{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:50px 5%;
    background:#f5efe9;
    flex-wrap:wrap;
}

.category{
    text-align:center;
    width:150px;
}

.category img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:10px;
    transition:0.3s;
}

/* Hover Effect */
.category img:hover{
    transform:scale(1.1);
}

.category p{
    font-size:14px;
    color:#333;
}

/* ===========about page start============== */

/* ===== STORY SECTION ===== */
.about-story{
    display:flex;
    padding:80px 8%;
    align-items:center;
    gap:50px;
}

.story-text{
    width:50%;
    line-height: 1.8;
    text-indent: 25px;
}

.story-text h2{
    margin-bottom:20px;
    font-size:32px;
}

.story-img img{
    width:400px;
    border-radius:20px;
    height: auto;
}

.about-details p{
    text-align: center;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-indent: 25px;
}

.about-details h2{
    text-align: center; 
    font-size: 32px;
}

/* ===== VALUES SECTION ===== */
.values{
    padding: 80px 8%;
    text-align: center;
}

.values h2{
    margin-bottom: 40px;
    font-size: 32px;
}

.values p{
    text-align: center;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-indent: 25px;
}

.value-cards{
    display:flex;
    justify-content:center;
    gap:30px;
}

.value-card{
    background:white;
    padding:20px;
    border-radius:15px;
    width:250px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.value-card img{
    width:100%;
    border-radius:15px;
    margin-bottom:15px;
}

.p-about{
    text-align: center;
}


/* ===================our cake start==================== */
.section{
    padding:50px;
    text-align:center;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-header h2, p{
    margin: 10px 50px;
}

/* Category Grid Layout */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

/* Individual Card Styling */
.category-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Soft shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}

.category-name {
    font-weight: 500;
    font-size: 0.95rem;
    color: #2d6a4f;
}

/* ===== CAKE GALLERY ===== */
.cake-gallery{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:25px;
    padding:50px 8%;
    background:#f8f8f8;
}

/* CARD */
.cake-item{
    text-align:center;
}

/* IMAGE */
.cake-item img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:5px;
    transition:0.3s;
}

/* HOVER EFFECT */
.cake-item img:hover{
    transform:scale(1.05);
}

/* TEXT */
.cake-item p{
    margin-top:10px;
    font-size:14px;
    color:#333;
}

/* ================flavors star=================== */
aside h3 {
     margin-top: 0;
    color: #850e35; 
    border-bottom: 2px solid #850e35;
    padding-bottom: 10px;
    text-align: center;
}
 
aside ul {
    list-style-type: none;
    padding: 0;
}
 
aside li {
    margin-bottom: 10px;
}
 
aside li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
 
aside li a:hover {
    color: #450202;
    background-color: #fba2ab;
    padding-left: 20px;
}

.product-grid {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid transparent;
    width: 300px;
}

.product-card:hover {
    border-color: var(--primary-green);
}
.product-card img{
    height: 300px;
    border-radius: 20px;
    width: 250px;
}

.btn-add {
    width: 100%;
    padding: 8px;
    background: none;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.section h2{
    padding: 30px 50px;
}

/* =================contact  start===================== */

.contact-section{
    display:flex;
    justify-content:space-between;
    padding:80px 10%;
    background:linear-gradient(to right, #eef2f7, #f6e8dc);
}

/* LEFT */
.contact-info{
    width:45%;
}

.contact-info h1{
    font-size:40px;
    margin-bottom:20px;
}

.contact-info p{
    color:#555;
    margin-bottom:15px;
}

.info-box p{
    margin:10px 0;
}


/* RIGHT FORM */
.contact-form{
    width:45%;
}

.contact-form form{
    display:flex;
    flex-direction:column;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #ccc;
}

.contact-form textarea{
    height:120px;
}

/* BUTTON */
.contact-form button{
    padding:12px;
    border:none;
    border-radius:8px;
    background:linear-gradient(to right, purple, orange);
    color:white;
    font-size:16px;
    cursor:pointer;
}

.submit-btn {
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


/* =========== footer start============ */
.footer{
    background:#f2f2f2;
    padding:40px 10%;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    gap: 70px;
    
}

.footer-box h2,
.footer-box h4{
    margin-bottom:15px;
    white-space: nowrap;
}

.footer-box p{
    margin:5px 0;
    color:#555;
    /* white-space: nowrap; */
}

.footer-box a{
   text-decoration: none;
   display: flex;
   white-space: nowrap;
}

/* SUBSCRIBE BAR */
.sub-form p{
    margin:9px 0;
    color:#555;
    white-space: nowrap;
    font-style: italic;
}

.sub-form h3{
    white-space: nowrap;
}

.sub-form input{
    padding:10px;
    width:225px;
    border:none;
    margin-top: 4%;
}

.sub-form button{
    padding:10px 20px;
    border:none;
    background:#e3c7b3;
    cursor:pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 13px;
    color: #000;
}

/* ===============event start=================== */

/* ===== GALLERY ===== */
.modern-gallery{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:25px;
    padding:50px 8%;
    background:#d9cbbd;
}

.modern-gallery h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: 80px;
    color: #1a3c30;
}

.modern-gallery p{
    line-height: 1.6;
    margin: 50px ;
}

/* CARD */
.gallery-card{
    position:relative;
    overflow:hidden;
    border-radius:15px;
}

/* IMAGE */
.gallery-card img{
    width:100%;
    height:450px;
    object-fit:cover;
    display:block;
}

/* OVERLAY (dark bottom effect) */
.overlay{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:40%;
    background:linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}

/* PLUS ICON */
.plus{
    position:absolute;
    top:10px;
    right:10px;
    width:30px;
    height:30px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    cursor:pointer;
}

.plus a{
    text-decoration: none;
}

/* HOVER EFFECT */
.gallery-card:hover img{
    transform:scale(1.05);
    transition:0.3s;
}

/* ====================Order PAGE ================= */

.order-section{
    text-align:center;
    padding:60px;
    background:#f4e6dc;
}

.order-container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
}

.order-container h1{
    margin-bottom: 10px;
}

.form-grid {
    display: flex;
    gap: 50px; 
    flex-wrap: wrap;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.form-section {
    flex: 1;
    min-width: 300px;
}

.form-section h3{
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.order-bon{
    width: 100%;
    padding: 15px;
    background: linear-gradient(45deg, #800080, #ffa500);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.order-bon:hover{
    opacity: 0.9;
}

/* =================button successful================== */
input{
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.modal-overlay{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; 
    justify-content: center;
    align-items: center;
}

.modal-overlay:target{
    display: flex;
}

.modal-content{
    background: white;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s;
}

.close-btn{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 25px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

@keyframes fadeIn{
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* ==================cheese============== */

/* Section Title */
.section-title{
    font-size: 24px;
    margin-bottom: 10px;
}

/* Divider Line */
.divider{
    width: 100%;
    height: 4px;
    background: gray;
    margin-bottom: 20px;
}

/* Grid Layout */
.image-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 40px;
    text-align: center;
}

/* Center align */
.image-item{
    display: flex;
    justify-content: center;
}

/* Circle Images */
.image-grid img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%; 
}

.image-grid img:hover{
    transform:scale(1.1);
}

html{
    scroll-behavior: smooth;
}

